<!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">{{current_page.name}}</h1>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center">
                                            <li><a href="#/home">Beranda</a></li>
                                            <li class="">{{current_page.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->

<!--About Page Area Start-->
                <div class="about-page-area section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>{{current_page.name}}</h3>
                                        <p>{{news.title}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-text-container">
                                    <div class="blog-post-content">load disni</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="skill-image">
                                    <img check-image ng-src="{{news.image}}" alt="blog-img" style="width:100%">
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <!--End of About Page Area-->
